@import 'tailwindcss';

:root {
  --bgclr: linear-gradient(
    to bottom right,
    #fce7f3,
    #dbeafe,
    #e0e7ff
  );

  --primary: #6366f1;
  --primary-hover: #4f46e5;
  
  --secondary: #1e293b;
  --secondary-hover: #334155;

  /* Backgrounds */
  --bg-main: #0f172a;
  --surface-card: rgba(30, 41, 59, 0.5); /* Glassmorphism effect */
  
  /* Text Colors */
  --text-main: #f8fafc;
  --text-sub: #94a3b8;
  
  /* Accents */
  --accent-sparkle: #a5b4fc;
  
  /* Transitions */
  --transition-fast: 0.2s ease-in-out;

}


html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 2px;
}

@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-carousel-scroll {
    animation: carousel-scroll 20s linear infinite;
    will-change: transform;
  }
}

@layer utilities {
  .pause-on-hover:hover {
    animation-play-state: paused;
  }
}


/* 

3d-thappad

@layer utilities {
  .animate-carousel-spin {
    animation: carousel-spin 12s linear infinite;
    transform-style: preserve-3d;
    will-change: transform;
  }
}

@keyframes carousel-spin {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}


*/