@import 'tailwindcss';

:root {
  --bgclr: linear-gradient(
    to bottom right,
    #fce7f3,
    #dbeafe,
    #e0e7ff
  );
}


html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 2px;
}